/*========== navbar style ==========*/
.navbar{ 
    background: #ff7b00;
}

.nav-link , .navbar-brand{ 
    color: #000; 
    cursor: pointer;
}

.nav-link{ 
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: rgb(255, 166, 0);
    color: #000; 
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background: rgb(255, 166, 0) !important;
}

.bg-dark{
    background-color:#fff!important
    }

.bg-primary{
    background-color:#fff!important
    }


/*==== buttons =======*/
.searchbutton{
    background: #ff7b00;
    }
 







/*========== header style ==========*/
.header{
    background-image: url('../images/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    }

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #fff;
   }

.description{
    position: absolute;
    top: 30%;
    margin: 0 auto;
    padding: 2em;
    background-color:#343a40;
    }

.description h1{
    color:#F97300 ;
    }

.description p{
    color:#666;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    }

.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
    }

/*========== about section ==========*/
.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }

.about h1{
    color:#F97300;
    margin: 2em;
   }

.about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }

.about span{
    display: block;
    color: #888;
    position: absolute;
    margin-top: 1em;
    left: 120px;
   }

.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }

.about .desc h3{
    color: #10828C;
   }

.about .desc p{
    line-height:2;
    color:#888;
   }
   
/*=========== Portfolio ==========*/
.portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio h1{
    color:#F97300;
    margin: 2em; 
   }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
     
   }

/*=========== Blog ===========*/
.blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 2em; 
   }
   .blog .card{
    box-shadow: 0 0 20px #ccc;
   }
   .blog .card img{
    width: 100%;
    height: 12em;
   }
   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 1em;
   }


/*team*/
.team{
    margin: 4em 0;
    position: relative;  
   }
.team h1{
    color:#F97300;
    margin: 2em; 
   }
.team .item{
    position: relative;
   }

.team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 80%;
    transition:.1s ease-in;
   }


/*========== Contact style ==========*/
.contact-form{
    margin: 6em 0;
    position: relative;  
   }
   
.contact-form h1{
    padding:2em 1px;
    color: #F97300; 
   }
.contact-form .right{
    max-width: 600px;
   }
.contact-form .right .btn-secondary{
    background:  #F97300;
    color: #fff;
    border:0;
   }
.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }








/*========== Typography ========
@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }


/*General styles*
body {
    background-color: rgb(231, 228, 228); 
    color: #000000;
    margin: 0;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

/*========== Layout ========
header {
    background-color:  rgb(46, 47, 48);
    color: rgb(221, 127, 3);
    text-align: center;

    padding: 25px 0px;
    margin: 10px;
    margin-bottom: 25px;
    border: 10px double black;
}

main {
    width: 600px;
    margin: 0 auto;
}

footer {
    display: flex;  
    justify-content: space-around;
    
    color: rgb(221, 127, 3); 
    background-color: rgb(46, 47, 48); 
    font-style:italic;
    border: 5px solid black;
    margin: 10px;

}

.footercolumn {
    text-align: center; 
    width: 350px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    
}

/*================ objects============
a {
    color: seagreen;
    font-style: italic;
}    

img {
    display: block;
    width: 150px;
    height: 200px;
    margin: auto;
    border: 5px double black;



/*login page*/
body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    background:#fff;
    }
    a{
     text-decoration:none !important;
     }
     h1,h2,h3{
     font-family: 'Kaushan Script', cursive;
     }
      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
    
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     color:#666;
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      form .error {
     color: #ff0000;
     }
     #second{display:none;}