/*this is my personal external CSS sheet*/

/*========== Global styles ========*/
body {
    background-color: rgb(231, 228, 228); 
    color: #000000;
    margin: 0;
}

/*========== Typography ========*/
h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

/*========== Layout ========*/
header {
    background-color:  rgb(46, 47, 48);
    color: rgb(221, 127, 3);
    text-align: center;

    padding: 25px 0px;
    margin: 10px;
    margin-bottom: 25px;
    border: 10px double black;
}

main {
    width: 600px;
    margin: 0 auto;
}

footer {
    display: flex;  
    justify-content: space-around;
    
    color: rgb(221, 127, 3); 
    background-color: rgb(46, 47, 48); 
    font-style:italic;
    border: 5px solid black;
    margin: 10px;

}

.footercolumn {
    text-align: center; 
    width: 350px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    
}

/*================ objects============*/
a {
    color: seagreen;
    font-style: italic;
}    

img {
    display: block;
    width: 150px;
    height: 200px;
    margin: auto;
    border: 5px double black;
}